# Setting JVM arguments

Before launching `chameleon` using the scripts, you can configure the JVM arguments.

For instance, to enable remote debugging:

    export JVM_ARGS="-agentlib:jdwp=transport=dt_socket,server=y,suspend=y,address=5005"
    ./chameleon.sh

On Windows:

     set JVM_ARGS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=y,address=5005
    ./chameleon.bat

