# Downloads

Direct download
---------------

<div class="row">
    <div class="span6">
        <div class="review">
            <div class="reinfo">
                <h4>Release</h4>
                <p><em>${currentVersion}</em></p>
            </div>
            <div class="button"><a href="#" id="release_download"><i class="icon-download"></i> Download</a> </div>
        </div>
    </div>
    <div class="span6">
        <div class="review">
            <div class="reinfo">
                <h4>Development</h4>
                <p><em>${devVersion}</em></p>
            </div>
            <div class="button"><a href="#" id="dev_download"><i class="icon-download"></i> Download</a></div>
        </div>
    </div>
</div>

Maven
-----

The ${project.artifactId} released artifacts are available on Maven Central:

    <!-- The distribution -->
    <dependency>
        <groupId>${project.groupId}</groupId>
        <artifactId>${project.artifactId}</artifactId>
        <version>${currentVersion}</version>
        <type>zip</type>
    </dependency>
    <!-- The main jar file -->
    <dependency>
        <groupId>${project.groupId}</groupId>
        <artifactId>${project.artifactId}</artifactId>
        <version>${currentVersion}</version>
    </dependency>

Snapshots artifacts are available on the `ow2.snapshots` repository:

    <repositories>
        <repository>
            <id>ow2.snapshots</id>
            <url>http://repository.ow2.org/nexus/content/repositories/snapshots/</url>
            <snapshots>
                <enabled>true</enabled>
            </snapshots>
            <releases>
                <enabled>false</enabled>
            </releases>
        </repository>
    </repositories>

The dependency coordinates are:

    <dependency>
        <groupId>${project.groupId}</groupId>
        <artifactId>${project.artifactId}</artifactId>
        <version>${devVersion}</version>
    </dependency>
    <dependency>
        <groupId>${project.groupId}</groupId>
        <artifactId>${project.artifactId}</artifactId>
        <version>${devVersion}</version>
        <type>zip</type>
    </dependency>


<!-- SCRIPTS -->
<script src="js/jquery-2.0.3.min.js"></script>
<script>
    var root = "http://repository.ow2.org/nexus/service/local/artifact/maven/content";
    var repoDevName = "snapshots";
    var repoName = "releases";
    var groupId = "${project.groupId}";
    var artifactId ="${project.artifactId}";
    var devVersion = "LATEST"; // ${devVersion}
    var releaseVersion = "${currentVersion}"
    var packaging = "zip"

    $( document ).ready(function() {
        // Snapshot button
        var urlDev = root + "?r=" + repoDevName + "&g=" + groupId + "&a=" + artifactId + "&v=" + devVersion + "&p="
            + packaging;
        $("#dev_download").attr("href", urlDev);

        // Release Button
        var urlRel = root + "?r=" + repoName + "&g=" + groupId + "&a=" + artifactId + "&v=" + releaseVersion + "&p="
                + packaging;
        $("#release_download").attr("href", urlRel);
    });
</script>
