
# Ow2 Chameleon - Core

OW2 Chameleon Core is an OSGi framework _launcher_ promoting a common way to structure OSGi
applications. With Chameleon Core, all your OSGi applications follows the same conventions and have the same _shape_.
Bootstraping new projects, re-using components are easieir. Conventions does not mean strict. You are free to
customize everything.

OW2 Chameleon Core help you to build well-structured OSGi application distribution. These distributions are
extensible, customizable and reproducible.

Features
--------

* Interactive console using OW2 Shelbie
* Log Backend using SLF4J and LogBack
* Watching folder to make development faster
* Ease OSGi Configuration Admin usage with simple _cfg_ files
* SSH accessible shell
* Easily customizable to create your own OSGi distribution

Downloads
--------

<div class="row">
    <div class="span6">
        <div class="review">
            <div class="reinfo">
                <h4>Release</h4>
                <p><em>${lastReleasedVersion}</em></p>
            </div>
            <div class="button"><a href="#" id="release_download"><i class="icon-download"></i> Download</a> </div>
        </div>
    </div>
    <div class="span6">
        <div class="review">
            <div class="reinfo">
                <h4>Development</h4>
                <p><em>${project.version}</em></p>
            </div>
            <div class="button"><a href="#" id="dev_download"><i class="icon-download"></i> Download</a></div>
        </div>
    </div>
</div>


License
--------
OW2 Chameleon Core is licensed under the Apache Software License 2.0

<!-- SCRIPTS -->
<script src="js/jquery-2.0.3.min.js"></script>
<script>
    var root = "http://repository.ow2.org/nexus/service/local/artifact/maven/content";
    var repoDevName = "snapshots";
    var repoName = "releases";
    var groupId = "${project.groupId}";
    var artifactId ="${project.artifactId}";
    var devVersion = "LATEST"; // ${project.version}
    var releaseVersion = "${lastReleasedVersion}"
    var packaging = "zip"

    $( document ).ready(function() {
        // Snapshot button
        var urlDev = root + "?r=" + repoDevName + "&g=" + groupId + "&a=" + artifactId + "&v=" + devVersion + "&p="
                + packaging;
        $("#dev_download").attr("href", urlDev);

        // Release Button
        var urlRel = root + "?r=" + repoName + "&g=" + groupId + "&a=" + artifactId + "&v=" + releaseVersion + "&p="
                + packaging;
        $("#release_download").attr("href", urlRel);
    });
</script>

