Chameleon structure
===================

 Every chameleon is based on the same skeleton:

 * `bin` contains the launcher and its dependencies
 * `core` contains the key OSGi bundles
 * `runtime` contains so-called _technical services_ and external libraries. It can also contains _cfg_ files
 representating OSGi config admin's configurations. By default, this directory is _watched_ at runtime,
 reflecting changes in the OSGi runtime.
 * `application` contains the application's bundles and configurations. By default, this directory is _watched_ at runtime,
 reflecting changes in the OSGi runtime.
 * `conf` contains logging and the platform configuration

